*
{
    /* background-color: brown; */
}
/* Utility Classes */
.hp
{
    font-size: 2.3rem;
}
.btn
{
    font-size: 1rem;
    padding: 4px 15px;
}
p{
    font-size: .7rem;
}

/* Navigation  */
#navbar
{
    flex-direction: column;
}
#navbar .nav-items a
{
    font-size: 0.8rem;
    margin: 2px 5px;
    padding: 0px 8px;

}
#navbar .nav-items 
{
    padding-bottom: 5px;
}
/* Home Section */
#home
{
    padding: 10px 15px;
}

/* About Section */
#about 
{
    flex-direction: column;
    margin: 10px;
}
#about .box
{
    padding: 15px;
}
#about .box h2
{
    font-size: 35px;
    margin: 5px;
    padding: 5px;
}
/* Cources Section */
#cources
{
    flex-direction: column;
}
#cources .box
{
    margin: 4px;
    padding: 23px;
}
#contact .form
{
    width: 75%;
}